<?xml version='1.0' encoding='UTF-8'?>

<programs-configuration>
	<database-config>
		
		<property name="connection.url">
			jdbc:odbc:Driver={MicroSoft Access Driver (*.mdb)};DBQ=DBCenter\DBCenter.mdb
		</property>
		<property name="connection.username">admin</property>
		<property name="connection.password">qtwjm`c</property>
		<property name="connection.driver_class">
			sun.jdbc.odbc.JdbcOdbcDriver
		</property>
		<property name="dataBaseType">
			accesss
		</property>
	</database-config>

	<database-config-p>
		<property name="connection.url">
			jdbc:datadirect:openedge://localhost:6672;databaseName=mfgprod
		</property>
		<property name="connection.username">sysprogress</property>
		<property name="connection.password">qtwjm`c</property>
		<property name="connection.driver_class">
			com.ddtek.jdbc.openedge.OpenEdgeDriver
		</property>
		<property name="dataBaseType">
			progress
		</property>
	</database-config-p>

	<database-config-s>
		<property name="connection.url">
			jdbc:microsoft:sqlserver://localhost:1433;databaseName=gpp_sys
		</property>
		<property name="connection.username">sa</property>
		<property name="connection.password">qtwjm`c</property>
		<property name="connection.driver_class">
			com.microsoft.jdbc.sqlserver.SQLServerDriver
		</property>
		<property name="dataBaseType">
			sqlserver
		</property>
	</database-config-s>


	<report-host>
		<property name="domain">
			localhost
		</property>
		<property name="port">
			27279
		</property>
		<property name="virtual-dir">
		</property>
	</report-host>
	
</programs-configuration>